*{margin:0;padding:0;box-sizing:border-box;}


.container{width:100%;height:auto;
   background-color: #a2fadd;
   padding:1rem;}

  .row1 {width:100%;height:auto;
   padding: 2rem;
    display: flex;justify-content:space-around;
    flex-wrap:wrap;
    background: #ea00ffee;
   }
   .col1{width:100px;height:100px;
      margin:15px 5px;background:#6f0379ee;;
      border:1px solid #43485270;     
     padding: 0;border-radius:.8rem;
     display:flex;align-items:center;justify-content:center;
      box-shadow:0 0 8px 3px rgba(221, 221, 221, 0.5);}
.col1 p{font-size:2rem;color:#ddd;}
@media only screen and (max-width:576px){
   .row1{width:100%;height:auto;
      display:flex;flex-direction:column;}
   .col1{width:100%;height:100px;margin: 1rem auto;}
}

.row2{width:100%;height:auto;
   background: #dd99ee; margin:2rem auto;
   padding:2rem 1rem;
   display:grid;
   grid-template-columns:1fr 1fr 1fr;
   grid-gap:1rem;}
.col4{width:100%;height:100px;
   border:1px solid #a2c2a2;
   background:#9e4cb3;
   border-radius:.5rem;
   display:flex;align-items:center;justify-content:center;}
@media only screen and (max-width:576px){
   .row2{width:100%;height:auto;
      display:grid;
      grid-template-columns:1fr;}
}

.row3{width:100%;height:auto;
  background:#75026e;
display:flex}
.col4a,.col8b{height:100px;   
   display:flex;align-items:center;justify-content:center;}
.col4a{width:33.33%;background:#4b0546;}
.col8b{width:66.66%;background:#a848a0;}
@media only screen and (max-width:576px){
   .row3{display:flex;
   flex-direction: column;}
   .col4a,.col8b{width:100%;}
}
.row4{width:100%;height:auto;
   display:grid;margin: 2rem auto;
   grid-template-columns:1fr 1fr;}
.col6{height:100px;
   background: #43424e;
   display:flex;align-items:center;justify-content:center;
   border:1px solid;}
@media only screen and (max-width:576px){
   .row4{width:100%;height:auto;
      display:grid;
      grid-template-columns:1fr;}
   .col6{width:100%;height:100px;}
}

.row5{width:100%;height:auto;
   margin:2rem auto;
   background: #028876;}
.col12{width:100%;height:100px;
   display:flex;align-items:center;justify-content:center;}