*{margin:0;padding:0;box-sizing:border-box;overflow:hidden;}


.container{width:100%;height:auto;
   background-color: #a2fadd;
   padding:1rem;}

  .row1 {width:100%;height:auto;
   padding: 2rem;
    display: flex;justify-content:space-around;
    flex-wrap:wrap;
    background: #ea00ffee;
   }
   .col1{width:100px;height:100px;
      margin:15px 5px;background:#6f0379ee;;
      border:1px solid #43485270;     
     padding: 0;border-radius:.8rem;
     display:flex;align-items:center;justify-content:center;
      box-shadow:0 0 8px 3px rgba(221, 221, 221, 0.5);}
.col1 p{font-size:2rem;color:#ddd;}
@media only screen and (max-width:576px){
   .row1{width:100%;height:auto;
      display:flex;flex-direction:column;}
   .col1{width:100%;height:100px;margin: 1rem auto;}
}


  .col-1 {
     width: calc(100%/12);
  }
  .col-4 {
     width: calc(100%/3);
  }
  .col-8 {
     width: calc(100%/1.5);
  }
  .col-6 {
     width: 50%;
  }
  .col-12 {
    width: 100%;}